.body-login, .body-login-dark, .body-signup, .body-signup-dark, .body-app, .body-app-dark {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: calc(100vh);
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
}

.body-login {
    background-image: url('/login.jpg');
}

.body-login-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/login.jpg');
}

.body-signup {
    background-image: url('/signup.jpg');
}

.body-signup-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/signup.jpg');
}

.body-app {
    background-image: url('/body.jpeg');
}

.body-app-dark {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/body.jpeg');
}

.content {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    margin-left: 20px;
    margin-right: 20px;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
}